In [8]:
#!/usr/bin/python


def collect():
    pass
import numpy as np
import pandas as pd


cities = ['Berlin', 'Frankfurt', 'Hamburg',
        'Nuremberg', 'Munich', 'Stuttgart',
         'Hanover', 'Saarbruecken', 'Cologne',
          'Constance', 'Freiburg', 'Karlsruhe'
         ]

n= len(cities)
data ={'Temperature': np.random.normal(24, 3, n),
        'Humidity': np.random.normal(78, 2.5, n),
        'Wind': np.random.normal(15, 4, n)
       }
df = pd.DataFrame(data=data, index=cities)
df.to_csv("../assets/stats.csv")
df

              Temperature   Humidity       Wind
Berlin          23.469701  74.757141   7.474267
Frankfurt       28.146501  83.403905   9.699186
Hamburg         21.817805  82.152091  18.520045
Nuremberg       26.092863  74.148856  12.930805
Munich          19.627266  76.484800  16.741321
Stuttgart       22.834014  82.226844  20.525388
Hanover         27.896233  75.071286   5.291145
Saarbruecken    27.031721  78.374574  18.499941
Cologne         22.623022  74.742588  12.525137
Constance       26.896627  76.021212  14.717533
Freiburg        26.308933  78.695527  18.342043
Karlsruhe       28.547639  74.223038  16.680943

In [12]:
import os
import numpy as np
import pandas as pd
li = []
for root, dirs, files in os.walk(os.path.abspath("../env")):
    for file in files:
        li.append(os.path.join(root, file))
print(len(li))




cities = ["C:","D:","E:","F:","H:","I:","J:"]

n= len(cities)
data ={'Temperature': 4,
        'Humidity': np.random.normal(78, 2.5, n),
        'Wind': np.random.normal(15, 4, n)
       }
df = pd.DataFrame(data=data, index=cities)
df

SyntaxError: invalid syntax (<ipython-input-12-b3f4c9d5c538>, line 17)